[submodule "src/includes/factory_method/seminario-1-Arlei10"]
	path = src/includes/factory_method/seminario-1-Arlei10
	url = https://github.com/20241-ifba-saj-ads-ppr/seminario-1-Arlei10.git
[submodule "src/includes/factory_method/seminario-1-zevictoros"]
	path = src/includes/factory_method/seminario-1-zevictoros
	url = https://github.com/20241-ifba-saj-ads-ppr/seminario-1-zevictoros.git
[submodule "src/includes/builder/seminario-1-LuisMiguelADS"]
	path = src/includes/builder/seminario-1-LuisMiguelADS
	url = https://github.com/20241-ifba-saj-ads-ppr/seminario-1-LuisMiguelADS.git
[submodule "src/includes/builder/seminario-1-gabrielflb"]
	path = src/includes/builder/seminario-1-gabrielflb
	url = https://github.com/20241-ifba-saj-ads-ppr/seminario-1-gabrielflb.git
[submodule "src/includes/builder/seminario-1-YuriPepezin"]
	path = src/includes/builder/seminario-1-YuriPepezin
	url = https://github.com/20241-ifba-saj-ads-ppr/seminario-1-YuriPepezin
[submodule "src/includes/abstract_factory/seminario-1-Brenda-Martinez"]
	path = src/includes/abstract_factory/seminario-1-Brenda-Martinez
	url = https://github.com/20241-ifba-saj-ads-ppr/seminario-1-Brenda-Martinez
